img {
  max-width: 100%;
  height: auto;
  display: block;"
}

.dl-horizontal dt {
  width: auto;
  padding-right: 5px;
}

.dl-horizontal dd {
  margin-left: 0;
}

.btn-block + .alert {
  margin-top: 15px;
}

.alert {
  padding:5px 15px;
}

.audio_player {
  width: 90%;
  padding: 10px 0 20px 0;
}

#state_indicator {
  margin-top: 35px;
}

#state_indicator .well {
  text-align: center;
}

#state_indicator .well-upcoming {
  background-color: #fff;
  color: #999;
}

#state_indicator .well-active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
