img {
  max-width: 100%;
  height: auto;
  display: block;"
}

.dl-horizontal dt {
  width: auto;
  padding-right: 5px;
}

.dl-horizontal dd {
  margin-left: 0;
}

.btn-block + .alert {
  margin-top: 15px;
}

.alert {
  padding:5px 15px;
}
